# Flutter/Dart
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/ios/Pods/
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/local.properties

# Python/Django
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/venv/
backend/env/
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/db.sqlite3
backend/media/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store 